* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #d9d9d9;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.logo {
    max-width: 100px;
    margin-right: 50px;
}

.header {
    display: flex;
}

.menu {
    display: flex;
}

.menu .menu-item {
    margin: 0 30px 0 0;
}

.main-block {
    padding: 10px;
}

.main-block-cart {
    display: flex;
}

.main-block-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.main-block-cart .main-block-cart-photo {
    max-width: 400px;
}

.main-block-cart .main-block-cart-text {
    margin-left: 50px;
}

.main-block-cart .main-block-cart-photo img{
    max-width: inherit;
}


